<dialog class="dialog-box" id="usernameError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>Username not found!</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>
<dialog class="dialog-box" id="userExistsError">
  <div class="dialog-content">
    <h1><b>Error</b></h1>
    <p>User already added!</p>
    <button class="button is-small dialog-button" (click)="close()">Ok</button>
  </div>
</dialog>

<div class="root">
  <app-navbar></app-navbar>
  <div class="centered-content">
    <div class="modal-box" id="main">
      <h1 class="title">Add User</h1>
      <div class="field">
        <div class="control">
          <input
              #usernameInput
              id="usernameInput"
              class="input is-medium"
              type="text"
              placeholder="Search for usernames..."
              (input)="onSearchInput($event)" 
          />
      </div>
      <div class="dropdown" [class.is-active]="usernames.length > 0">
        <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a class="dropdown-item has-text-light" *ngFor="let username of usernames" (click)="selectUsername(username)">
                    {{ username }}
                </a>
                <div *ngIf="usernames.length === 0 && searchQuery" class="dropdown-item">
                    No results found
                </div>
            </div>
        </div>
    </div>
      <br />
      <div class="buttons is-right">
        <button class="button is-medium" (click)="cancel()">Cancel</button>
        <button
          class="button is-primary has-text-dark is-medium"
          (click)="addButtonClick(usernameInput.value)"
        >
          Add
        </button>
      </div>
    </div>
    
    
  </div>
  <div class="modal-box is-hidden" id="sub">
    <h1 class="title">User Added!</h1>
    <br />
    <div class="buttons is-right">
      <button
        class="button is-primary has-text-dark is-medium"
        (click)="cancel()"
      >
        Return to Board
      </button>
    </div>
  </div>
</div>
