@import "../../../main-styles.scss";

.project-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  padding: 42px;

  border-radius: 8px;
}

.title {
  font-family: "Lato";
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar{
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: $purple;
    border-radius: 20px;
  }

  .project-menu-item {
    display: flex;

    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;

    width: 100%;
    background-color: $light;
    color: #5f5f5f;
    margin-bottom: 10px;

    &:hover {
      background: $primary;
    }
  
  }
}

.empty-state {
  font-size: 20px;
  color: #777;
  text-align: center;
}

.project-list-container {
  padding: 20px;
}

.custom-search-bar {
  height: 40px; /* You can set this to any value you prefer */
  font-size: 16px; /* Optionally increase the font size */
  padding: 20px; /* Add padding for more space inside the input */
  border-radius: 5px; /* Adjust for rounder corners */
  border: 1px solid #ccc; /* Optional, set border to make it look cleaner */
}


.search-container {
  margin-bottom: 20px;
}

.project-item {
  color: black; /* Ensure the text color is black */
  border: 2px solid white; /* White border around each project */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2); /* Optional: Light background */
}

.project-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}


