<div class="root">
  <app-navbar></app-navbar>
  <div class="centered-content">
    <div class="modal-box" id="main">
      <h1 class="title">Assign User to Task</h1>
      <div class="user-assignment-container">
        <div class="field">
            <div class="control">
                <div class="select">
                    <select #select id="select" (change)="assignUser()">
                        <option value="" disabled selected>Select a user</option>
                        <option *ngFor="let user of users" [value]="user">{{ user }}</option>
                    </select>
                </div>
            </div>
        </div>
    
        <div class="assigned-users">
            <h3>Assigned Users</h3>
            <ul>
                <li *ngFor="let user of assignedUsers">
                    {{ user }}
                    <button class="delete" (click)="removeUser(user)">×</button>
                </li>
            </ul>
        </div>
    </div>

      <br />
      <div class="buttons is-right">
        <button class="button is-medium" (click)="cancel()">Cancel</button>
        <button
          id="assignButton"
          class="button is-primary has-text-dark is-medium"
          (click)="assignButtonClick(assignedUsers)"
        >
          Assign
        </button>
      </div>
    </div>
    <div class="modal-box is-hidden has-text-light" id="assigned">
      <h1 class="title">Assign User to Task</h1>
      <p>Assignment Updated!</p>

      <br />
      <div class="buttons is-right">
        <button
          id="assignButton"
          class="button is-primary has-text-dark is-medium"
          (click)="cancel()"
        >
          Back to Board
        </button>
      </div>
    </div>
    <div class="modal-box is-hidden has-text-light" id="unassigned">
      <h1 class="title">Assign User to Task</h1>
      <p>User Unassigned!</p>

      <br />
      <div class="buttons is-right">
        <button
          id="assignButton"
          class="button is-primary has-text-dark is-medium"
          (click)="cancel()"
        >
          Back to Board
        </button>
      </div>
    </div>
  </div>
</div>
